@use "../abstracts/mixins" as mixins;

 /*body {
  @include mixins.simple-grid(2rem);
  font-family: type.$font;

  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  margin-block: 4rem;
  padding: 15rem;
  line-height: 1.6;
  
}